<section class="section-howitsmade">
    <h2 class="heading-howitis">how it's <span class="span-made">made?</span></h2>
    <div class="container-howitsmade">
<!--         <img src="./css/how-its-made-desktop@1x.jpg" srcset="./images/how-its-made/how-its-made-desktop@2x.jpg"
            alt="melted-chockolate in a bowl" width="614" height="400" class="img-howitsmade"> -->
        <div class="div-receipt">
            <h3 class="heading-receipt">Try our chocolates today and discover the perfect balance of flavor</h3>
            <ul class="list-receipt">
                <li class="list-first-step list-style">Heat the milk in a saucepan without bringing it to a boil.
                    Add sugar and cocoa powder.</li>
                <li class="list-second-step list-style">At the same time, prepare a water bath. Melt the butter on
                    it.</li>
                <li class="list-third-step list-style">"Mix" the milk mixture and already liquid butter. Mix
                    thoroughly with a silicone spatula so that the
                    mass becomes uniform and silky.</li>
                <li class="list-fourth-step list-style">Heat the mixture over low heat, letting it barely boil.</li>
                <li class="list-fifth-step list-style">Pour the chocolate into special containers (can be replaced
                    with ice molds). Allow to cool and
                    harden.</li>
            </ul>
        </div>
    </div>
</section>
