<section class="products-section">
  <h2 class="products-heading">our <span class="products-part-heading">products</span></h2>
  <ul class="products-list">
    <li class="products-tile">
      <img
        src="./images/our-products/orange-dark-choc@1x.jpg"
        alt="orange dark chocolate photo"
        width="230"
        height="201"
        srcset="
          ./images/our-products/orange-dark-choc@1x.jpg 1x,
          ./images/our-products/orange-dark-choc@2x.jpg 2x
        "
      />
      <p class="product-name">orange</p>
      <p class="product-type">dark chocolate</p>
      <div class="product-price"><p>45 uah</p></div>
    </li>
    <li class="products-tile">
      <img
        src="./images/our-products/apple-milk-choc@1x.jpg"
        alt="apple and cranberry milk chocolate photo"
        width="230"
        height="201"
        srcset="
          ./images/our-products/apple-milk-choc@1x.jpg 1x,
          ./images/our-products/apple-milk-choc@2x.jpg 2x
        "
      />
      <p class="product-name">apple&cranberry</p>
      <p class="product-type">milk chocolate</p>
      <div class="product-price"><p>50 uah</p></div>
    </li>
    <li class="products-tile">
      <img
        src="./images/our-products/lime-dark-choc@1x.jpg"
        alt="lime and sea salt dark chocolate photo"
        width="230"
        height="201"
        srcset="
          ./images/our-products/lime-dark-choc@1x.jpg 1x,
          ./images/our-products/lime-dark-choc@2x.jpg 2x
        "
      />
      <p class="product-name">lime&sea salt</p>
      <p class="product-type">dark chocolate</p>
      <div class="product-price"><p>66 uah</p></div>
    </li>
    <li class="products-tile">
      <img
        src="./images/our-products/pineapple-dark-choc@1x.jpg"
        alt="orange dark chocolate photo"
        width="230"
        height="201"
        srcset="
          ./images/our-products/pineapple-dark-choc@1x.jpg 1x,
          ./images/our-products/pineapple-dark-choc@2x.jpg 2x
        "
      />
      <p class="product-name">pineapple</p>
      <p class="product-type">dark chocolate</p>
      <div class="product-price"><p>54 uah</p></div>
    </li>
  </ul>
  <ul class="products-slide-buttons">
    <li>
      <svg width="28" height="13">
        <use href="#"></use>
      </svg>
    </li>
    <li>
      <svg width="13" height="13">
        <use href="#"></use>
      </svg>
    </li>
    <li>
      <svg width="13" height="13">
        <use href="#"></use>
      </svg>
    </li>
    <li>
      <svg width="13" height="13">
        <use href="#"></use>
      </svg>
    </li>
    <li>
      <svg width="13" height="13">
        <use href="#"></use>
      </svg>
    </li>
    <li>
      <svg width="13" height="13">
        <use href="#"></use>
      </svg>
    </li>
    <li>
      <svg width="13" height="13">
        <use href="#"></use>
      </svg>
    </li>
    <li>
      <svg width="13" height="13">
        <use href="#"></use>
      </svg>
    </li>
  </ul>
</section>
