<section class="products-section">
  <h2 class="products-heading">Our <span class="products-part-heading">Products</span></h2>
  <ul class="products-list">
    <li class="products-tile pr-tile-one">
      <img
        src="./images/our-products/orange-dark-choc@1x.jpg"
        alt="orange dark chocolate photo"
        width="230"
        height="201"
        srcset="
          ./images/our-products/orange-dark-choc@1x.jpg 1x,
          ./images/our-products/orange-dark-choc@2x.jpg 2x
        "
      />
      <p class="product-name">Orange</p>
      <p class="product-type">Dark chocolate</p>
      <div class="product-price"><p>45 uah</p></div>
    </li>
    <li class="products-tile pr-tile-two">
      <img
        src="./images/our-products/apple-milk-choc@1x.jpg"
        alt="apple and cranberry milk chocolate photo"
        width="230"
        height="201"
        srcset="
          ./images/our-products/apple-milk-choc@1x.jpg 1x,
          ./images/our-products/apple-milk-choc@2x.jpg 2x
        "
      />
      <p class="product-name">Apple&cranberry</p>
      <p class="product-type">Milk chocolate</p>
      <div class="product-price"><p>50 uah</p></div>
    </li>
    <li class="products-tile pr-tile-three">
      <img
        src="./images/our-products/lime-dark-choc@1x.jpg"
        alt="lime and sea salt dark chocolate photo"
        width="230"
        height="201"
        srcset="
          ./images/our-products/lime-dark-choc@1x.jpg 1x,
          ./images/our-products/lime-dark-choc@2x.jpg 2x
        "
      />
      <p class="product-name">Lime&sea salt</p>
      <p class="product-type">Dark chocolate</p>
      <div class="product-price"><p>66 uah</p></div>
    </li>
    <li class="products-tile pr-tile-four">
      <img
        src="./images/our-products/pineapple-dark-choc@1x.jpg"
        alt="orange dark chocolate photo"
        width="230"
        height="201"
        srcset="
          ./images/our-products/pineapple-dark-choc@1x.jpg 1x,
          ./images/our-products/pineapple-dark-choc@2x.jpg 2x
        "
      />
      <p class="product-name">Pineapple</p>
      <p class="product-type">Dark chocolate</p>
      <div class="product-price"><p>54 uah</p></div>
    </li>
  </ul>
  <ul class="products-slide-icons">
    <li>
      <svg width="28" height="13">
        <use href="./images/our-products/temp-icons.svg#icon-orange-slide"></use>
      </svg>
    </li>
    <li>
      <svg class="grey-slide-icon" width="13" height="13">
        <use href="./images/our-products/temp-icons.svg#icon-grey-slide"></use>
      </svg>
    </li>
    <li>
      <svg class="grey-slide-icon" width="13" height="13">
        <use href="./images/our-products/temp-icons.svg#icon-grey-slide"></use>
      </svg>
    </li>
    <li>
      <svg class="grey-slide-icon" width="13" height="13">
        <use href="./images/our-products/temp-icons.svg#icon-grey-slide"></use>
      </svg>
    </li>
    <li>
      <svg class="grey-slide-icon" width="13" height="13">
        <use href="./images/our-products/temp-icons.svg#icon-grey-slide"></use>
      </svg>
    </li>
    <li>
      <svg class="grey-slide-icon" width="13" height="13">
        <use href="./images/our-products/temp-icons.svg#icon-grey-slide"></use>
      </svg>
    </li>
    <li>
      <svg class="grey-slide-icon" width="13" height="13">
        <use href="./images/our-products/temp-icons.svg#icon-grey-slide"></use>
      </svg>
    </li>
    <li>
      <svg class="grey-slide-icon" width="13" height="13">
        <use href="./images/our-products/temp-icons.svg#icon-grey-slide"></use>
      </svg>
    </li>
  </ul>
</section>
