<section class="reviews">
  <h2 class="reviews-title"><span class="reviews-span">CHOCOLATE</span> IS LOVED</h2>
  <div class="reviews-slider-container">
    <div class="reviews-slider">
      <div class="reviews-slide">
        <img class="reviewer-photo" src="./images/reviews/victoria-img@1x.png" alt="victoria dobrzhanska"
          srcset="./images/reviews/victoria-img@1x.png 1x, ./images/reviews/victoria-img@2x.png 2x">
        <h4 class="reviewer-name">Victoria Dobrzhanska</h4>
        <p class="reviews-description">I love this chocolate bar. Perfect combination of light crispy
          wafer, covered in a thin layer chocolate.</p>
      </div>
      <div class="reviews-slide">
        <img class="reviewer-photo" src="./images/reviews/nazar-img@1x.png" alt="Nazar Babenko" srcset=" ./images/reviews/nazar-img@1x.png 1x, 
        ./images/reviews/nazar-img@2x.png 2x">
        <h4 class="reviewer-name">Nazar Babenko</h4>
        <p class="reviews-description">This chocolate confection is a delight! A delight! The wafer is
          light and crisp, the hazelnut cream is smooth, and the
          chocolate is good.</p>
      </div>
      <div class="reviews-slide">
<!--         <img class="reviewer-photo" src="
        ./images/reviews/olena-img@1x.png" alt=" Olena Kampusch" srcset="
          ./images/reviews/olena-img@1x.png 1x,
           ./images/reviews/olena-img@2x.png 2x">
        <h4 class="reviewer-name">Olena Kampusch</h4>
        <p class="reviews-description">Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft
          but crunchy.</p> -->
      </div>
      <!-- <div class="reviews-slide">
        <img class="reviewer-photo" src="../IMG/Reviews/Natalia@1x.png" alt=""
          srcset="../IMG/Reviews/Natalia@1x.png 1x, ../IMG/Reviews/Natalia@2x.png 2x">
        <h4 class="reviewer-name">Natalia Sus</h4>
        <p class="reviews-description">The chocolate assortment was delicious. Both dark and milk
          chocolate pieces were smooth and just right on the sweetness
          level.</p>
      </div>
      <div class="reviews-slide">
        <img class="reviewer-photo" src="../IMG/Reviews/Danilo@1x.png" alt=""
          srcset="../IMG/Reviews/Danilo@1x.png 1x, ../IMG/Reviews/Danilo@2x.png 2x">
        <h4 class="reviewer-name">Danilo Nottingham</h4>
        <p class="reviews-description">This is delicious. It so rich and flavorful you don't need to use
          as many. I love topping an apple with almond butter
          and these chips for a snack.</p>
      </div>
      <div class="reviews-slide">
        <img class="reviewer-photo" src="../IMG/Reviews/Irina@1x.png" alt=""
          srcset="../IMG/Reviews/Irina@1x.png 1x, ../IMG/Reviews/Irina@2x.png 2x">
        <h4 class="reviewer-name">Irina Tydnyuk</h4>
        <p class="reviews-description">This is simply the best chocolate around, and I'm just thrilled
          to support a local company! Best local chocolate - world
          class </p>
      </div> -->
    </div>
    <div class="pagination">
      <a class="reviews-pagination" href="#">
        <svg class="reviews-pagination-svg orange-svg" width="28" height="13">
          <use href="./images/icons.svg#icon-rectangle-wide">

          </use>
        </svg>
      </a>
      <a class="reviews-pagination" href="#">
        <svg class="reviews-pagination-svg" width="13" height="13">
          <use href="./images/icons.svg#icon-eclipse-small">
          </use>
        </svg>
      </a>
      <a class="reviews-pagination" href="#">
        <svg class="reviews-pagination-svg" width="13" height="13">
          <use href="./images/icons.svg#icon-eclipse-small">
          </use>
        </svg>
      </a>
      <a class="reviews-pagination" href="#">
        <svg class="reviews-pagination-svg" width="13" height="13">
          <use href="./images/icons.svg#icon-eclipse-small">
          </use>
        </svg>
      </a>
    </div>
  </div>
  <button class="reviews-btn button button-position" type="button" data-modal-reviews-open>Leave a review</button>
</section>
