
<section class="top-sellers">
  <div class="container">
      <h2 class="top-sellers-title"><span class="top-sellers-title-top">TOP</span>SELLERS</h2>
      <ul class="list">
          <li>
            <img 
            src="./images/top-sellers/top-sellers-img1-mobile@1x.jpg"
            alt="pieces of chocolate,loose coffee beans and haelnut"
            width="368"
            height="464"
            srcset="
            ./images/top-sellers/top-sellers-img1-mobile@1x.jpg x 1,
            ./images/top-sellers/top-sellers-img1-mobile@2x.jpg x2"
              />
            </li>
              <li>
                  <p class="top-sellers-text-mobile">Crazy enough chocolate orginates from a bean just like the 
                     coffee bean called Cacao. Cacao has been around for 
                     thousands of years and was first discovered by the Native 
                     American tribe called the Mayans.
                 </p>
             </li>
          <li>
              <img
              src="./images/top-sellers/top-sellers-img2-mobile@1x.jpg"
              alt="pieces of fruit and nuts chocolate"
              width="368"
              height="464"
              srcset="
            ./images/top-sellers/top-sellers-img2-mobile@1x.jpg x 1,
            ./images/top-sellers/top-sellers-img2-mobile@2x.jpg x2"
              /></li>
             
          <li>
              <img class="top-sellers-img-last"
              src="./images/top-sellers/top-sellers-img3-desktop@1x.jpg"
              alt="pieces of chocolate, finger chocolate and round chocolate ball 
              stuck on top of eachother"
              width="368"
              height="464"
              srcset="
            ./images/top-sellers/top-sellers-img3-desktop@1x.jpg x 1,
            ./images/top-sellers/top-sellers-img3-desktop@2x.jpg x2"
              />
          </li>
      </ul>

      <p class="top-sellers-text-desktop">Crazy enough chocolate orginates from a bean just like the 
          coffee bean called Cacao. Cacao has been around for 
          thousands of years and was first discovered by the Native 
          American tribe called the Mayans.
      </p>
      <div class="top-sellers-button">
      <button class="top-sellers-button-description" type="button" data-modal-buy-open="">Buy now</button>
  </div>
  </div>

</section>
