<section class="unique-section">
  <div class="container">
    <h2 class="unique-h2">
      IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-h2-color">TASTE</span> SENSATION
    </h2>
    <p class="unique-paragraph">
      At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
      From the sourcing of the finest ingredients to the careful crafting of each individual piece,
      every step of our process adds up to one exceptional taste sensation.
    </p>
    <ul class="unique-list list">
      <li class="unique-list-component">
        <div class="unique-list-component-overlay">
          <p class="unique-list-component-paragraph">milk chocolate</p>
        </div>
      </li>
      <li class="unique-list-component">
        <div class="unique-list-component-overlay">
          <p class="unique-list-component-paragraph unique-dark-color">milk</p>
        </div>
      </li>
      <li class="unique-list-component">
        <div class="unique-list-component-overlay">
          <p class="unique-list-component-paragraph">nuts</p>
        </div>
      </li>
      <li class="unique-list-component">
        <div class="unique-list-component-overlay">
          <p class="unique-list-component-paragraph unique-dark-color">semi - sweet chocolate</p>
        </div>
      </li>
    </ul>
  </div>
</section>
