
/*====MOBILE===*/
@media screen and (min-width: 375px) {
.how-its-made-section {
  min-width: 375px;
  margin: 72px 20px 72px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
}

.how-its-made-heading {
  color: var(--smoky-black-color);
  font-size: 20px;
  font-weight: var(--bold-weight);
  line-height: var(--mobile-title-font-size);
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-align: center;
}
.recipe-list {
  display: flex;
  flex-direction: column;
  width: 375px;
  text-align: left;
}

.how-its-made-span {
  color: var(--carrot-orange-color)
}

.how-its-made-recipe-div {
  display: flex;
  padding: 20px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--snow-color);
}


/*iframe {
  display: block;
  position: relative;
  width: 335px;
  height: 500px;
  border-radius: 15px;
  border-style: hidden;
  border-width: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url(/src/images/how-its-made/image_mobile@1x.jpg),
    lightgray -158.445px -335.767px / 187.796% 186.969% no-repeat;
}*/

.how-its-made-video-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url(/src/images/how-its-made/how-its-made-mobile@1x.jpg),
    lightgray -158.445px -335.767px / 187.796% 186.969% no-repeat;
  width: 335px;
  height: 500px;
  border-radius: 15px;
  border-style: hidden;
  display: block;
  position: relative;
}

.how-its-made-video-container svg {
  position: absolute;
  fill: var(--snow-color);
  left: 150px;
  top: 233px;
}

.chocolate-recipe-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--smoky-black-color);
  width: 307px;
}
.recipe-desc {
  justify-content: center;
  align-content: center;
  font-family: 'montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  color: var(--smoky-black-color);
  padding: 10px;
}
}
/*===TABLET===*/
@media screen and (min-width: 768px)  {
  .how-its-made-section {
    min-width: 769px;
    margin: 0 auto 20px;
    gap: 50px;
  }

  .how-its-made-video-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
      url(/src/images/how-its-made/how-its-made-tablet@1x.jpg),
      lightgray -158.445px -335.767px / 187.796% 186.969% no-repeat;
    width: 614px;
    height: 400px;
  }

  .how-its-made-video-container svg {
    left: 285px;
    top: 178px;
  }

  .how-its-made-recipe-div {
    width: 614px;
    height: 356px;
    gap: 28px;
    padding: 32px;
  }
}
/*===DESKTOP===*/
@media screen and (min-width: 1200px) {
  .how-its-made-section {
    min-width: 1200px;
    margin: 0 auto 20px;
  }
}
