.reviews {
  min-height: 404px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.reviews-title {
  padding-bottom: 74px;
  color: var(--smoky-black-color);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-align: center;
}
.reviews-span {
  color: var(--carrot-orange-color);
}
.reviews-slider-container {
  width: 335px;
  margin: 0 auto;
}
.reviews-slide {
  position: relative;
  height: 200px;
  width: 335px;
  border-radius: 15px;
  border: 1px solid var(--smoky-transparent-black-color);
  background: --white-color;
  box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);
  display: none;
}
.reviews-slide:nth-child(1) {
  display: block;
}
.reviewer-name {
  padding: 56px 0 24px;
  color: --smoky-black-color;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.reviews-description {
  width: 299px;
  margin: 0 auto;
  color: --smoky-transparent-black-color;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}
.reviewer-photo {
  position: absolute;
  left: 50%;
  top: -3%;
  transform: translate(-50%, -50%);
}
.reviews-btn {
  margin: 32px 0 0;
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid var(--carrot-orange-color);
  transition: 250ms ease-in-out;
  color: var(--smoky-black-color);
  text-align: center;
  font-size: var(--description-font-size);
  font-style: normal;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.reviews-btn:hover,
.reviews-btn:focus {
  background-color: var(--carrot-orange-color);
  color: var(--white-color);
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 13px;
  padding-top: 20px;
}
.reviews-pagination-svg {
  cursor: pointer;
  fill: var(--smoky-transparent-black-color);
}
.orange-svg {
  fill: var(--carrot-orange-color);
}
@media screen and (max-width: 360px) {
  .reviews-slide {
    width: 90vw;
  }
  .reviews-description {
    width: 90vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews {
    min-height: 463px;
    margin-bottom: 100px;
  }
  .reviews-title {
    padding-bottom: 91px;
    font-size: 24px;
  }
  .reviews-slider-container {
    width: 704px;
    height: 204px;
  }
  .reviews-slider {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
  .reviews-slide {
    width: 344px;
  }
  .reviews-slide:nth-child(2) {
    display: block;
  }
  .reviews-description {
    width: 312px;
    height: 70px;
  }
  .pagination {
    padding-top: 32px;
  }
  .reviews-btn {
    margin: 94px 0 0;
    font-size: 18px;
    padding: 14px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    min-height: 463px;
    margin-bottom: 128px;
  }
  .reviews-title {
    padding-bottom: 91px;
    font-size: 24px;
  }
  .reviews-slider-container {
    width: 1136px;
  }
  .reviews-slide {
    width: 360px;
  }
  .reviews-slide:nth-child(2),
  .reviews-slide:nth-child(3) {
    display: block;
  }
  .reviews-slider {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
  }
  .reviews-description {
    width: 312px;
    height: 70px;
  }
  .pagination {
    padding-top: 32px;
  }
  .reviews-btn {
    margin: 50px 0 0;
    font-size: 18px;
    padding: 14px 40px;
  }
}
