 .section-subcribe{
     display: flex;
     /* margin: auto; */
     background-color: var(--color-dark);
     padding: 112px 0;
    background-image: linear-gradient(0deg, #0003 0%, #0003 100%), url(../images/subscribe/subcribe-bg-mobile@1x.jpg);
     width: 100%;
     height: 429px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;



 }

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .section-subscribe {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/subscribe/subcribe-bg-mobile@2x.jpg');
     }

 }

.subscribe-h-font{
    color: aqua;
}