:root {
  --dark: #111;
  --grey: #1e1823;
  --orange: #fd9222;
  --white: #fff;
}
.list {
  text-decoration: none;
  list-style-type: none;
}
* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 0px) {
  .section {
   
  }
  .unique-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 335px;
  }
  .unique-h2{
    color: var(--dark);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    max-width: 283px;
  }
  .unique-h2-color{
    color: var(--orange);
  }
  .unique-paragraph{
    color: var(--dark);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    line-height: 1.285;
    letter-spacing: -0.28px;
    margin: 24px 0 32px 0;
  }
.unique-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}
.unique-list-component:nth-child(1){
    background: url(../images/unique-components/mobile-chocolate-bar.png) no-repeat, var(--orange);
    background-position: 50% 28px;
}
.unique-list-component:nth-child(2) {
    background: url(../images/unique-components/mobile-chocolate-bar.png) no-repeat, var(--orange);
    background-position: 50% 28px;
}
.unique-list-component:nth-child(3) {
    background: url(../images/unique-components/mobile-chocolate-bar.png) no-repeat, var(--orange);
    background-position: 50% 28px;
}
.unique-list-component:nth-child(4) {
    background: url(../images/unique-components/mobile-chocolate-bar.png) no-repeat, var(--orange);
    background-position: 50% 28px;
}
  .unique-list-component {
    min-width: 335px;
    height: 270px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border: none;
  }
  .unique-list-component-paragraph {
    color: var(--white);
    text-transform: uppercase;
    margin: 0 0 28px 28px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285;
  }
  
.unique-dark-color{
    color: var(--dark);
  }

}
